@font-face {
  font-family: polysans;
  src: url(../fonts/PolySans-Relax.woff2);
}
@font-face {
  font-family: polysans-slim;
  src: url(../fonts/PolySans-Slim.woff2);
}
body {
  background-color: rgb(255, 239, 213);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
}
h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: -10px;
  padding-left: 40px;
  font-size: 10vw;
  font-family: polysans;
}
h2 {
  margin: 0;
  font-family: polysans-slim;
}
.ada-hidden {
  display: none;
}
/* proj name */
.b-h {
  font-family: polysans-slim;
  margin: 0;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}
.bento-thumbnail {
  width: 500px;
  height: auto;
}
.desc {
  padding-left: 40px;
}
.footer {
  color: white;
  padding: 20px;
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  margin: 0;
  font-family: polysans-slim;
}
.footer a {
  color: white;
}
.header {
    width:100%;
    height:20vh;
}
.name {
  width: 30vw;
  padding: 9%;
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
  padding:10vh;
  align-self: center;
}
.nav a {
    font-family: polysans-slim;
    padding-right:10px;
    color: green;
}
.sheep-image {
  position: absolute;
  z-index: 3;
}
#sheep {
  display: none;
}
.subheading {
  font-size: 3vw;
  padding-left: 40px;
}
.gallery {
  padding: 40px;
}
.greeting {
  display: flex;
  flex-direction: row;
}
.projects-gallery {
  padding-top: 30px;
  padding-left: 40px;
}
.gallery-grid {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.gallery-grid::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-grid {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* for project heading */
.your-mom {
  padding-bottom: 20px;
}
