---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css"
---
<Layout>
    <section>
        <h1>about me</h1>
        <p class="b-h">hi, im amber! i am a programmer and designer studying at purdue university. im currently looking for summer 2026 internships :) </p>
        <p class="b-h">i believe that great design is functional, beautiful, and should bring users a little bit of delight. <br/> i'm always trying to learn more, whether it be about design or </p>
    </section>
</Layout>