---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <section>
        <p>hi, im amber! i am a programmer and designer studying at purdue university. im currently looking for summer 2026 internships :) </p>
        <p>i believe that great design is functional, beautiful, and should bring users a little bit of delight. <br/> i'm always trying to learn more, whether it be about design or </p>
    </section>
</Layout>