---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div style="height:100vh; display:flex; flex-direction: column; align-items: center; justify-content: center;">
        <p style="margin: 0; font-family: polysans-slim; font-size:50px">come back later... wip...</p>
        <a style="margin: 0; font-family:polysans-slim; font-size:22px; color:green" href="/">go back</a>
    </div>

</Layout>