<div class="phone-container">
  <img id="phone" class="phone" src="/Phone.webp" alt="hi" />
</div>

<script>
  const element = document.getElementById("phone") as HTMLImageElement;
  element.addEventListener("mouseover", (event: MouseEvent) => {
    element.src = "/Phone-up.webp";
  });
  element.addEventListener("mouseleave", (event: MouseEvent) => {
    element.src = "/Phone.webp";
  });
</script>
