---
import { Image } from "astro:assets";
import Phone from "../assets/Phone.webp";
import Up from "../assets/Phone-up.webp";
---
<html lang="en">
  <head>
    <slot name="head" />
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/egg.gif" /> -->
    <link
      id="icon"
      rel="icon"
      type="image/webp"
      href="src/assets/icon/frame_000.webp"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://amberzeng.com/" />
    <meta property="og:url" content="https://amberzeng.com/" />
    <meta name="generator" content={Astro.generator} />
    <title>amber's portfolio</title>
  </head>

  <body>
   
    <slot />
   
  </body>
</html>
