<html lang="en">
  <head>
    <slot name="head" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://amberzeng.com/" />
    <meta property="og:url" content="https://amberzeng.com/" />
    <meta name="generator" content={Astro.generator} />
    <title>amber's portfolio</title>
  </head>

  <body>
    <slot />
  </body>
</html>
