<html lang="en">
  <head>
    <slot name="head" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta
      name="description"
      content="amber zeng's personal portfolio, a designer and programmer who loves whimsy"
    />
    <meta name="keywords" content="portfolio, amber, zeng, amber zeng, fun" />
    <meta name="author" content="amber zeng" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="amber zeng's portfolio" />
    <meta
      property="og:description"
      content="amber zeng's personal portfolio, a designer and programmer who loves whimsy"
    />
    <meta
      property="og:image"
      content="../assets/embed.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>amber's portfolio</title>
    
</head>

  <body>
    <slot />
  </body>
</html>
